.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}


.file-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.file-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
  transform: translateX(0);
}
.file-exit {
  opacity: 1;
  transform: translateX(0);
}
.file-exit-active {
  opacity: 0;
  transition: all 500ms ease-in;
  transform: translateX(100%);
}

