
.navbar-container{
    width: 100%;
    margin: 0 auto;
    background-color: white;
}
.navbar-link-container{
    float: right !important;
     
}


/* VERTICAL NAVBAR */

.navbar-vertical{
    /* position: fixed; */
    top: 0;
    left: 0;
    /* border-radius: 2rem; */
    /* background-color: #035099; */
    height: 100%;
    min-height: 100vh;
    
    width: 280px;
    background-color: white;
}
.items-wrapper{
    margin-top: 10vh;
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#nav-wrapper{
    position: fixed;
    top: 0;
    left: 0;
}
.inline-layout{
    display: grid;
    grid-template-columns: 280px auto;
}
.nav-item-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    width: 110px;
    height: 110px;
}
.nav-item-main:hover{
    border: 3px solid #eaf0ff;
}
.nav-item-main > h6{
    text-align: center;
}
.nav-item-main > img{
    width: 25px;
    /* filter: brightness(0) invert(1); */
}
.navbar-vertical > div{
    margin: 0 auto;
    color: black !important;
}
.brand-logo{
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
}
.brand-logo > img{
    /* filter: brightness(0) invert(1); */
    width: 40%;
}
.nav-item-main{
    position: relative;
    cursor: pointer;
}
.nav-item-main > h5{
    margin: 0 !important;
}
.nav-item-main-active{
    background-color: #035099;
    box-shadow: 0px 0.4375rem 1.813rem 0px rgba(0, 0, 0, 0.246) !important;
  -moz-box-shadow: 0px 0.4375rem 1.813rem 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 0.4375rem 1.813rem 0px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 0.4375rem 1.813rem 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 0.4375rem 1.813rem 0px rgba(0, 0, 0, 0.08);
    /* position: relative !important; */
    transition: all 0.3s;
}
.nav-item-main-active > h6 > a{
    color: white !important;
}
.nav-item-main-active > img{
    filter: brightness(0) invert(1) !important;
}
.nav-item-main-active:hover{
    border: none !important;
    opacity: 0.8;
}
/* .nav-item-active::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: white;
    transform: translateX(-30px);
} */
.nav-a {
    color: black !important;
}
.navbar-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbarr > div > div{
    margin-left: 5rem !important;
    cursor: pointer;
}
/* #content{
    background-color: rgb(228, 227, 227);
    min-height: calc(100vh - 155px);
} */

.link-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


