html {
    scroll-behavior: smooth;
    overflow-y: overlay;
    }

    @font-face{
      font-family: 'open-sans';
      src: url(fonts/OpenSans-Regular.ttf);
    }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'open-sans' !important;
  background-color: #f4f7ff;
}
.nadpis{
  font-weight: 800;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}


.myCard{
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0px 0.4375rem 1.813rem 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0.4375rem 1.813rem 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 0.4375rem 1.813rem 0px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 0.4375rem 1.813rem 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 0.4375rem 1.813rem 0px rgba(0, 0, 0, 0.08);
}
